<div class="page-header">
  <h1>Crash Reports</h1>
</div>
{{#if records}}
<table class="table">

  <tr>
    {{#each fields}}
      <th>{{titleCase this}}</th>
    {{/each}}
    <th></th>
  </tr>

  {{#each records}}
    <tr>
    {{#each this.props}}
      <td>
        {{this}}
      </td>
    {{/each}}
      <td>
        <a href="{{reportUrl this.id}}">view</a>
      </td>
    </tr>
  {{/each}}
</table>
{{> pagination}}
{{else}}
  <p>No crash reports</p>
{{/if}}

